body {
    font-family:'Courier New', Courier, monospace;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: gray;
}

#container {
    text-align: center;
    padding: 20px
}

h1 {
    color: #333;
}

button, select {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid;
    border-color: black;
}

button:hover {
    background-color: darkgrey;
}

button:active {
    background-color: gray;
}

#result {
    margin: 10px;
}

.back {
    position: fixed;
    top: 20px;
    left: 20px;
    text-decoration: none;
}

.back > h1 {
    margin: 0;
    color: blue;
}

.back > h1:hover {
    cursor: pointer;
    color: darkblue;
}
