body {
    width: 100vw;
    min-height: 100vh;
    background-color: gray;
    font-family:'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: gray;
    font-family:'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 25px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #0056b3;
}

button > a {
    color: white;
    text-decoration: none;
}

#container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#header > div{
    display: flex;
    text-align: center;
}

.header-text {
    width: 100vw;
}

#posts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    gap: 25px;
    
}

#footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #393e3e;
    padding: 10px;
    margin-top: auto;
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: #fff;
}

#footer > p > a {
    text-decoration: none;
    color: rgb(0, 170, 170);
}

#footer > p > a:hover {
    text-decoration: none;
    color: rgb(0, 170, 170);
}

.child {
    flex: 1; /* Az elemek dinamikusan oszlanak el */
    border: 1px solid;
    border-color: black;
    border-radius: 10px;
    height: 125px;
    min-width: 300px;
    max-width: 300px;
    transition: width 50ms ease-in, height 50ms ease-in;
    cursor: pointer;
    overflow: hidden;
    background-color: #393e3e;
}

.child:hover {
    flex-grow: 1.001; /* Az elem szélesebb lesz */
    transform: scale(1.1); /* Méretarányos növekedés (nem nyomja el a többit) */
}

.child > a {
    display: flex;
    gap: 10px;
    text-decoration: none;
}

.child > a > h3 {
    color: #fff;
    font-size: 20px
}

.tic-tac-toe > a > img {
    width: 115px;
    margin: 5px;
}

.choose-an-username > a > img{
    width: 115px;
    margin: 5px;
}

.swear-word-generator > a > img {
    width: 115px;
    margin: 5px;
}

.guess-the-number > a > img {
    width: 115px;
    margin: 5px;
}

.music-by-year > a > img {
    width: 115px;
    margin: 5px;
}

.watch-some-youtube > a > img {
    width: 115px;
    margin: 5px;
}

.escape-game > a > img {
    width: 115px;
    margin: 5px;
}

.chat > a > img {
    width: 115px;
    margin: 5px;
}

.enter-password > a > img {
    width: 115px;
    margin: 5px;
}

.sus-link > a > img {
    width: 90px;
    margin: 5px;
}

.math > a > img {
    width: 115px;
    margin: 5px;
}
