/* Table Styles */
table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead {
    background-color: #009879; /* Ensure the background color applies to the entire thead */
}

table thead tr {
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

table th, table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Button Styles */
button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #003f7f;
}

.link-cell {
    display: flex;
    gap: 10px;
}

/* Link Styles */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #007BFF;
    text-decoration: underline;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    table {
        font-size: 14px;
    }

    table th, table td {
        padding: 8px 10px;
    }

    button {
        padding: 8px 10px;
        font-size: 14px;
    }

    .link-cell {
        flex-direction: column;
        gap: 5px;
    }
}

#custom-link-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

input {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}