#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

iframe {
    width: 80vw;
    aspect-ratio: 16 / 9;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 25px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
button:hover {
    background-color: #0056b3;
}

@media screen and ((max-width: 1000px) or (max-height: 800px)) {
    iframe {
        width: 60vw;
    } 
}

@media  screen and (max-width: 680px) {
    iframe {
        height: 500px;
        width: 60vw;
    }
}